@import 'main.scss';

.footer{
    background-color:$dark;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    a{
        color: white !important;
    }
    
    
    
}


.footer-logo{
    p{
        font-size: 80%;
        color: #b1b2b2;
    }
}

#footer{
    background: $dark-highlight;
    padding: 30px 10px;
    color: #b1b2b2;
    

    ul{
        list-style: none;
    }

    a{
        color: white;
        text-decoration: none;
    }
}


.social{
    font-size: 90%;
    color: white;
    text-align: right;
    line-height: 40px;
    i{
        font-size: 130%;
    }
}

form{
    input{
        background-color: #202020;
        border: none;
        padding: 15px;
        margin: 5px 0;
        color:#b1b2b2;
        width: 270px;
    }
    textarea{
        background-color: #202020;
        border: none;
        padding: 15px;
        margin: 5px 0;
        color:#b1b2b2;
        width: 270px;
        height: 150px;
    }
}
