@import 'main.scss';
#showcaseIndex{
    height: 100vh;
    width: 100%;
}

.lines{
    position: absolute;
    top: 0;
    left: 0vw;
    z-index: -5;
    height: 105vh;
    width: 50vw;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.large_logo{
    position: absolute;
    left: 50vw;
    opacity: .2;
    top: -20px;
    z-index: -2;
}

//CLASS GRID
#class-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
    margin-top: -9vh;
}

@media screen and (max-width: 940px) {
    #class-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: black;
        margin-top: -9vh;
    }
  }


.box {
    background-color: #444;
    height: 400px;
  }

.a{
    background-image: url('../images/stretch.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.b{
    background-color: $secondary-color;
}

.c{
    background-image: url('../images/bar.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}

.d{
    background-color: $secondary-color;
}

.e{
    background-color: $primary-color;
}

.f{
    background-image: url('../images/shoe.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}

.g{
    background-color: $primary-color;
}

.h{
    background-image: url('../images/stairs.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}

@media screen and (max-width: 940px) {

    .e{order: 5;}
    .f{order: 4;}
    .g{order: 7;}
    .h{order: 6;}

    .lines{
        width: 100vw;
    }

    .lines2{
        display: none;
    }
  }

  
//ABOUT

.photo-box{
    position: relative;
    padding-bottom: 90px;
}

.lines2{
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    z-index: -5;
    height: 80vh;
    width: 40vw;
    transform: rotate(180deg);
}

.logo2{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    height: 80vh;
    opacity: .1;
}

//Schedule

#schedule{
    background-color: #29282e;

    ul{
        list-style: none;
        text-align: center;
        li{
            text-decoration: none;
            display: inline-block;
            color: white;
            margin: 20px;
            font-size: 1.3rem;
            cursor: pointer;
            font-family: 'Teko', sans-serif;
        }
    }
    table{
        border-spacing: 2px;
        border-collapse: separate;
    }
    td{
        background-color: #302f34; 
        height: 10vw;
        width: 10vw; 
        text-align:  center;
        
        .crossfit{
            color: $primary-color;
            font-size: 135%;
            font-family: 'Teko', sans-serif;
            text-transform: uppercase;
        }

        .coach{
            color:rgb(155, 155, 155);
            font-size: 95%;
            font-family: 'Teko', sans-serif;
            text-transform: uppercase;
        }

        .time{
            color: white;
            font-size: 105%;
            font-family: 'Teko', sans-serif;
            text-transform: uppercase;
        }

        .comp{
            color: #265DF6;
            font-size: 135%;
            font-family: 'Teko', sans-serif;
            text-transform: uppercase;
        }
        .opengym{
            color:#43E12B;
            font-size: 135%;
            font-family: 'Teko', sans-serif;
            text-transform: uppercase;
        }
        .outlast{
            color: red;
            font-size: 135%;
            font-family: 'Teko', sans-serif;
            text-transform: uppercase;
        }
    }
    th{
        background-color: #302f34;
        height: 10vw;
        width: 10vw;
        color: white;
        font-size: 1rem;
        text-align: center;       
    }
}

#mobileSchedule{
    background-color: $secondary-color;
    display: none;
    color:white;
    ul{
        list-style: none;
        padding: 0;

        .classItem{
            border-bottom: 1px solid white;
            margin-top: 20px;
        }

        .classTime{
            float: right;
        }

        h5{
            display: inline-block;
        }

        .crossfit{
            color: $primary-color;
            font-size: 120%;
        }

        .comp{
            color: #265DF6;
            font-size: 120%;
        }
        .opengym{
            color:#43E12B;
            font-size: 120%;
        }
        .outlast{
            color: red;
            font-size: 120%;
        }
    }
}


.active-link{
    background-color: $primary-color;
    padding: 7px 7px;
}

.times{
    color:white;
    text-align: center;
}

//SERVICES

#benefits{
    position: relative;
}

.lines3{
    position: absolute;
    float: right;
    top: 0;
    left: 0;
    z-index: -5;
    bottom:0;
    width: 40vw;
}

