// VARIABLES
$primary-color: #F78502;
$secondary-color: #29282d;
$dark-highlight: #252525;
$dark: #202020;

//TYPOGRAPHY
@import url('https://fonts.googleapis.com/css?family=Teko|Ubuntu');

*{
    font-family: 'Ubuntu', sans-serif;
}

i{
    cursor: pointer;
}

i:hover{
    color: $primary-color;
}

.teko{
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .6rem !important;
}

.faded{
    color: #b1b2b2;
}

.ubuntu{
    font-family: 'Ubuntu', sans-serif;
}
.active-primary{ 
    color: $primary-color !important;
}


.zero{
    opacity: 0;
}

.primary{
    color: $primary-color;
}

.read-link{
    text-decoration: none;
    color: white;
}

.read-link:hover{
    text-decoration: none;
    color: white;
}


.primary-button{
    background-color: $primary-color;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 2px;
    // width: 220px;
    font-size: 20px;
    text-align: left;
    font-family: 'Teko', sans-serif;
    cursor: pointer;

    i{
        margin-left: 30px;
    }
}

//Animations
.slide-in {
    animation: slide-in 1s forwards;
    -webkit-animation: slide-in 1s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

.fade-in {
    animation: fade-in 2s forwards;
    -webkit-animation: fade-in 2s forwards;
}

@keyframes fade-in {
    100% { opacity: 1; }
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
