@import 'main.scss';

.showcase{
    
    margin-top: -150px;
    z-index: -5;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: center 0px;
    height: 530px;
    .showcaseOverlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #302f34, $alpha: .3);
        z-index: -1;
    }

    .showCaseTitle{
        z-index: 2;
        color: white;
        margin-top: 350px;
        font-size: 445%;
        letter-spacing: 3px;
    }
}


#about{
    top: 60vh;

    .left-column-img{
        width: 100%;
        height: auto;

    }

    p{color:#a8a8a8;}

    h2{
        font-size: 345%;
        letter-spacing: 3px;
    }

    .latest-post{
        .crop {
            height: 90px;
            width: 90px;
            overflow: hidden;
            border-radius: 3px;
            img {
                height: auto;
                width: 90px;
                min-height: 90px;
                cursor: pointer;
               }
            
           }
        .latePost{
            // vertical-align: top;
           margin-top: -30px; 
        }
    }
}

.accordian-header{
    background-color: #f7f7f9;
    cursor: pointer;

    i{
        font-size: 85%;
    }

}

.card-body{
    color:#a8a8a8;
}
